<%- include("parts/header", {current: "user"}) %>

<div id="content">
    <section class="headline">
        <h1>Ausleihdetails</h1>
    </section>
    <main>
        <section class="details">
            <div class="details__image">
                <figure>
                    <img src="/img/comingsoon.png" alt="Buchcover">
                </figure>
            </div>
            <div class="details__half">
                <div class="detail__section">
                    <div class="detail-title">Buchtitel:</div>
                    <p>
                        <%= ausleihe.buch.name %>
                    </p>
                </div>
                <div class="detail__section">
                    <div class="detail-title">Autor:</div>
                    <p>
                        <%= ausleihe.buch.autor.name %>
                    </p>
                </div>
                <div class="detail__section">
                    <div class="detail-title">Erscheinungsjahr:</div>
                    <p>
                        <%= ausleihe.buch.jahr %>
                    </p>
                </div>
                <div class="detail__section">
                    <div class="detail-title">ISBN:</div>
                    <p>
                        <%= ausleihe.buch.isbn %>
                    </p>
                </div>
            </div>
            <div class="details__full">
                <div class="detail__section">
                    <div class="detail-title">Ausgeliehen von:</div>
                    <p>
                        <%= ((ausleihe.datumVon.getDate() > 9) ? ausleihe.datumVon.getDate() : ('0' + ausleihe.datumVon.getDate())) + '.' + ((ausleihe.datumVon.getMonth() > 8) ? (ausleihe.datumVon.getMonth() + 1) : ('0' + (ausleihe.datumVon.getMonth() + 1))) + '.' + ausleihe.datumVon.getFullYear() %>
                    </p>
                </div>
                <div class="detail__section">
                    <div class="detail-title">Ausgeliehen bis:</div>
                    <p>
                        <%= ((ausleihe.datumBis.getDate() > 9) ? ausleihe.datumBis.getDate() : ('0' + ausleihe.datumBis.getDate())) + '.' + ((ausleihe.datumBis.getMonth() > 8) ? (ausleihe.datumBis.getMonth() + 1) : ('0' + (ausleihe.datumBis.getMonth() + 1))) + '.' + ausleihe.datumBis.getFullYear() %>
                    </p>
                </div>
                <div class="detail__section">
                    <div class="detail-title">Standort</div>
                    <% standorte.forEach(function(standort) { %>
                    <% standort.buecher.forEach(function(buch) { %>
                    <% if(buch == ausleihe.buch) { %>
                    <p>
                        <%= standort.name %>
                    </p>
                    <% } %>
                    <% }); %>
                    <% }); %>
                </div>
                <div class="detail__section">
                    <div class="detail-title">Ausleih-ID</div>
                    <p>
                        <%= ausleihe.token %>
                    </p>
                </div>
            </div>
        </section>
    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>