<%- include("parts/header",{current: "autoren"}) %>

<div id="content">
    <section class="headline">
        <h1>
            <%= autor.name %>
        </h1>
    </section>
    <main>
        <section class="autor-about">
            <div class="autor-image">
                <img src="/img/comingsoon.png" alt="Das Autor Bild">
            </div>
            <div class="text-area-autor">
                <div class="autor-discr">
                    <p>
                        <%= autor.beschreibung %>
                    </p>
                </div>
                <hr>
                <div class="autor-socials">
                    <h2>Find the Author on social Media</h2>
                    <ul class="social-list">
                        <li><a href="#"><i class="ti-facebook"></i>Facebook</a></li>
                        <li><a href="#"><i class="ti-instagram"></i>Instagram</a></li>
                        <li><a href="#"><i class="ti-twitter"></i>Twitter</a></li>
                        <li><a href="#"><i class="ti-world"></i>Website</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="autor-books">
            <h2>Bücher</h2>
            <% buecher.forEach(function(buch) { if(buch.autor == autor) {%>
            <div class="book">
                <div class="inner">
                    <div class="book__image">
                        <img src="/img/comingsoon.png" alt="Standort Emil-Figge-Straße 44">
                    </div>
                    <div class="book__info">
                        <% buecher.forEach(function(buch_sub, index) { %>
                        <% if(buch_sub == buch) { %>
                        <a href="/buecher/detail?id=<%= index %>" class="title">
                            <div class="buch-title">
                                <%= buch.name %>
                            </div>
                        </a>
                        <hr>
                        <p class="fachrichtung-book">
                            <%= buch.fachrichtung %>
                        </p>
                        <% } %>
                        <% }); %>
                    </div>
                    <% buecher.forEach(function(buch_sub, index) { %>
                    <% if(buch_sub == buch) { %>
                    <a href="/buecher/detail?id=<%= index %>" class="book__link">
                        Zum Buch <i class="ti-arrow-right "></i>
                    </a>
                    <% } %>
                    <% }); %>
                </div>
            </div>
            <%  }}); %>
        </section>

    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>