<!-- Moe Tinawi -->

<%- include("parts/header", {current: "buecher"}) %>

<div id="content">
    <section class="headline">
        <h1>Buch hinzuf체gen</h1>
    </section>
    <main>
        <section class="form">
            <form action="/buecher" method="POST" id="book-form">
                <div class="input-group">
                    <h2>Buchinfos</h2>
                    <label>
                        Buchtitel:
                        <input type="text" name="name" placeholder="Titel" required>
                    </label>
                    <label>
                        Autor:
                        <select name="author" required>
                            <option value="" disabled selected>Autor ausw채hlen</option>
                            <% autoren.forEach(function(autor, index) { %>
                            <option value="<%= index %>"><%= autor.name %></option>
                            <% }); %>
                        </select>
                    </label>
                    <label>
                        ISBN
                        <input type="text" name="isbn" placeholder="ISBN" required>
                    </label>
                    <label>
                        Fachrichtung
                        <input type="text" name="cat" placeholder="Fachrichtung" required>
                    </label>
                    <label>
                        Jahr
                        <input type="number" name="year" placeholder="Jahr" required>
                    </label>
                    <label>Beschreibung:
                        <textarea name="desc" rows="10" placeholder="Beschreibung"></textarea>
                    </label>
                </div>
                <div class="input-group">
                    <h2>Standort</h2>
                    <label>
                        Standort:
                        <select name="location" required>
                            <option value="" disabled selected>Standort ausw채hlen</option>
                            <% standorte.forEach(function(standort, index) { %>
                            <option value="<%= index %>"><%= standort.name %></option>
                            <% }); %>
                        </select>
                    </label>
                </div>
                <button type="submit" class="button primary filled">Buch hinzuf체gen</button>
            </form>
        </section>
    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>