<%- include("parts/header", {current: "index"}) %>

<div id="content">
    <section class="headline">
        <h1>Dashboard</h1>
    </section>
    <main>
        <section class="dashboard-intro">
            <h2>Willkommen</h2>
            <p>Herzlich Willkommen in der Online-Bibliothek der FH Dortmund.<br />Hier haben Sie die Möglichkeit Bücher
                zu reservieren oder direkt auszuleihen.</p>
            <a href="/buecher" class="button primary filled">Alle Bücher ansehen</a>
        </section>
        <section class="dashboard-reservations">
            <h2>Reservierungen</h2>
            <% if(reservierungen.length > 0) { %>
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Buch</th>
                            <th>Autor</th>
                            <th>Datum von</th>
                            <th>Datum bis</th>
                            <th class="so">Standort</th>
                            <th></th>
                        </tr>
                    </thead>

                    <% reservierungen.forEach(function(reservierung, index) { %>
                    <tbody>
                        <tr>
                            <td>
                                <%= reservierung.buch.name %>
                            </td>
                            <td>
                                <% autoren.forEach(function(autor, autor_index) { if (autor == reservierung.buch.autor) {%>
                                <a href="/autor/detail?id=<%=autor_index%>">
                                    <%= autor.name %>
                                </a>
                                <% }}); %>
                            </td>
                            <td>
                                <%= ((reservierung.datumVon.getDate() > 9) ? reservierung.datumVon.getDate() : ('0' + reservierung.datumVon.getDate())) + '.' + ((reservierung.datumVon.getMonth() > 8) ? (reservierung.datumVon.getMonth() + 1) : ('0' + (reservierung.datumVon.getMonth() + 1))) + '.' + reservierung.datumVon.getFullYear() %>
                            </td>
                            <td>
                                <%= ((reservierung.datumBis.getDate() > 9) ? reservierung.datumBis.getDate() : ('0' + reservierung.datumBis.getDate())) + '.' + ((reservierung.datumBis.getMonth() > 8) ? (reservierung.datumBis.getMonth() + 1) : ('0' + (reservierung.datumBis.getMonth() + 1))) + '.' + reservierung.datumBis.getFullYear() %>
                            </td>
                            <% standorte.forEach(function(standort, standort_index) { %>
                            <% standort.buecher.forEach(function(buch_sub) { %>
                            <% if(buch_sub == reservierung.buch) { %>
                            <td class="so">
                                <a href="/standorte/detail?id=<%= standort_index %>">
                                    <%= standort.name %>
                                </a>
                            </td>
                            <% } %>
                            <% }); %>
                            <% }); %>
                            <td><a href="/user/reservierungen/detail?id=<%= index %>">Details</a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <a href="/user/reservierungen" class="button primary outline">Alle Reservierungen ansehen</a>
            <% } else { %>
            <p><strong>Derzeit sind keine Reservierungen vorhanden!</strong></p>
            <% } %>
        </section>
        <section class="dashboard-borrowings">
            <h2>Überfällige Ausleihen</h2>
            <% if(ausleihen.length > 0) { %>
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Buch</th>
                            <th>Datum von</th>
                            <th>Datum bis</th>
                            <th class="so">Standort</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ausleihen.forEach(function(ausleihe, index) { %>
                        <% if(ausleihe.status == false) { %>
                        <tr class="error">
                            <td>
                                <%= ausleihe.buch.name %>
                            </td>
                            <td>
                                <%= ((ausleihe.datumVon.getDate() > 9) ? ausleihe.datumVon.getDate() : ('0' + ausleihe.datumVon.getDate())) + '.' + ((ausleihe.datumVon.getMonth() > 8) ? (ausleihe.datumVon.getMonth() + 1) : ('0' + (ausleihe.datumVon.getMonth() + 1))) + '.' + ausleihe.datumVon.getFullYear() %>
                            </td>
                            <td>
                                <%= ((ausleihe.datumBis.getDate() > 9) ? ausleihe.datumBis.getDate() : ('0' + ausleihe.datumBis.getDate())) + '.' + ((ausleihe.datumBis.getMonth() > 8) ? (ausleihe.datumBis.getMonth() + 1) : ('0' + (ausleihe.datumBis.getMonth() + 1))) + '.' + ausleihe.datumBis.getFullYear() %>
                            </td>
                            <% standorte.forEach(function(standort, standort_index) { %>
                            <% standort.buecher.forEach(function(buch_sub) { %>
                            <% if(buch_sub == ausleihe.buch) { %>
                            <td class="so">
                                <a href="/standorte/detail?id=<%= standort_index %>">
                                    <%= standort.name %>
                                </a>
                            </td>
                            <% } %>
                            <% }); %>
                            <% }); %>
                            <td>Überzogen</td>
                            <td><a href="/user/ausleihen/detail?id=<%= index %>">Details</a></td>
                        </tr>
                        <% } %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <a href="/user/ausleihen" class="button primary outline">Alle Ausleihen ansehen</a>
            <% } else { %>
            <p><strong>Derzeit sind keine Ausleihen vorhanden!</strong></p>
            <% } %>
        </section>
    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>