<%- include("parts/header", {current: "reservierungen"}) %>

    <div id="content">
        <section class="headline">
            <h1>Reservierungsdetails</h1>
        </section>
        <main>
            <section class="details">
                <div class="details__image">
                    <figure>
                        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3078042.jpg" alt="QR-Code Ausleihe">
                        <figcaption>QR-Code am Terminal scannen um Buch auszuleihen</figcaption>
                    </figure>
                </div>
                <div class="details__half">
                    <div class="detail__section">
                        <div class="detail-title">Buchtitel:</div>
                        <p>
                            <%= reservierung.buch.name %>
                        </p>
                    </div>
                    <div class="detail__section">
                        <div class="detail-title">Autor:</div>
                        <p>
                            <%= reservierung.buch.autor.name %>
                        </p>
                    </div>
                    <div class="detail__section">
                        <div class="detail-title">ISBN:</div>
                        <p>
                            <%= reservierung.buch.isbn %>
                        </p>
                    </div>
                    <div class="detail__section">
                        <div class="detail-title">Erscheinungsjahr:</div>
                        <p>
                            <%= reservierung.buch.jahr %>
                        </p>
                    </div>
                </div>
                <div class="details__full">
                    <div class="detail__section">
                        <div class="detail-title">Datum von:</div>
                        <p>
                            <%= reservierung.datumVon %>
                        </p>
                    </div>
                    <div class="detail__section">
                        <div class="detail-title">Datum Bis:</div>
                        <p>
                            <%= reservierung.datumBis %>
                        </p>
                    </div>
                    <div class="detail__section">
                        <div class="detail-title">Standort</div>
                        <% standorte.forEach(function(standort) { %>
                            <% standort.buecher.forEach(function(buch, index) { %>
                                <% if(reservierung.buch == buch) { %>
                                    <p>
                                        <%= standort.name %>
                                    </p>
                                    <% } %>
                                        <% }); %>
                                            <% }); %>
                    </div>
                    <div class="detail__section">
                        <div class="detail-title">Reservierungs-ID</div>
                        <p>
                            <%= reservierung.token %>
                        </p>
                    </div>
                </div>
                <form action="/user/reservierungen" method="POST">
                    <input type="hidden" name="reservierung" value="<%= id %>">
                    <button class="button error outline">Reservierung löschen</button>
                </form>
            </section>
        </main>
        <%- include("parts/aside") %>
    </div>

    <%- include("parts/footer") %>