<%- include("parts/header", {current: "user"}) %>

<div id="content">
    <section class="headline">
        <h1>Ausleihdetails</h1>
    </section>
    <main>
        <section class="details">
            <div class="details__image">
                <img src="/img/comingsoon.png" alt="Buchcover">
            </div>
            <div class="details__half">
                <section class="detail__section">
                    <h2>Buchtitel:</h2>
                    <p><%= ausleihe.buch.name %></p>
                </section>
                <section class="detail__section">
                    <h2>Autor:</h2>
                    <p><%= ausleihe.buch.autor.name %></p>
                </section>
                <section class="detail__section">
                    <h2>Erscheinungsjahr:</h2>
                    <p><%= ausleihe.buch.jahr %></p>
                </section>
                <section class="detail__section">
                    <h2>ISBN:</h2>
                    <p><%= ausleihe.buch.isbn %></p>
                </section>
            </div>
            <div class="details__full">
                <section class="detail__section">
                    <h2>Ausgeliehen von:</h2>
                    <p><%= ((ausleihe.datumVon.getDate() > 9) ? ausleihe.datumVon.getDate() : ('0' + ausleihe.datumVon.getDate())) + '.' + ((ausleihe.datumVon.getMonth() > 8) ? (ausleihe.datumVon.getMonth() + 1) : ('0' + (ausleihe.datumVon.getMonth() + 1))) + '.' + ausleihe.datumVon.getFullYear() %></p>
                </section>
                <section class="detail__section">
                    <h2>Ausgeliehen bis:</h2>
                    <p><%= ((ausleihe.datumBis.getDate() > 9) ? ausleihe.datumBis.getDate() : ('0' + ausleihe.datumBis.getDate())) + '.' + ((ausleihe.datumBis.getMonth() > 8) ? (ausleihe.datumBis.getMonth() + 1) : ('0' + (ausleihe.datumBis.getMonth() + 1))) + '.' + ausleihe.datumBis.getFullYear() %></p>
                </section>
                <section class="detail__section">
                    <h2>Standort</h2>
                    <% standorte.forEach(function(standort) { %>
                    <% standort.buecher.forEach(function(buch) { %>
                    <% if(buch == ausleihe.buch) { %>
                    <p><%= standort.name %></p>
                    <% } %>
                    <% }); %>
                    <% }); %>
                </section>
                <section class="detail__section">
                    <h2>Ausleih-ID</h2>
                    <p><%= ausleihe.token %></p>
                </section>
            </div>
        </section>
    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>