<%- include("parts/header",{current: "autoren-detail"}) %>

    <div id="content">
        <section class="headline">
            <h1>
                <%= autor.name %>
            </h1>
        </section>
        <main>
            <section class="autor-about">
                <div class="autor-image">
                    <img src="/img/comingsoon.png" alt="Das Autor Bild">
                </div>
                <div class="text-area-autor">
                    <div class="autor-discr">
                        <p>
                            <%= autor.beschreibung %>
                        </p>
                    </div>
                    <hr>
                    <div class="autor-socials">
                        <h2>Find the Author on social Media</h2>
                        <ul class="social-list">
                            <li><a href="#"><i class="ti-facebook"></i>Facebook</a></li>
                            <li><a href="#"><i class="ti-instagram"></i>Instagram</a></li>
                            <li><a href="#"><i class="ti-twitter"></i>Twitter</a></li>
                            <li><a href="#"><i class="ti-world"></i>Website</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="autor-books">
                <% buecher.forEach(function(buch) { if(buch.autor == autor.name) {%>
                    <div class="book">
                        <div class="inner">
                            <div class="book__image">
                                <img src="/img/comingsoon.png" alt="Standort Emil-Figge-Straße 44">
                            </div>
                            <div class="book__info">
                                <a href="buecher-detail.html" class="title">
                                    <h3>
                                        <%= buch.name %>
                                    </h3>
                                </a>
                                <hr>
                                <p class="fachrichtung-book">
                                    Praktische Informatik
                                </p>
                            </div>
                            <% buecher.forEach(function(buch_sub, index) { %>
                                <% if(buch_sub == buch) { %>
                                    <a href="/buecher/detail?id=<%= index %>" class="book__link">
                            Zum Buch <i class="ti-arrow-right "></i>
                            </a>
                                    <% } %>
                                        <% }); %>
                        </div>
                    </div>
                    <%  }}); %>
            </section>

        </main>
        <%- include("parts/aside") %>
    </div>

    <%- include("parts/footer") %>