<%- include("parts/header", {current: "buecher"}) %>

    <div id="content">
        <section class="headline">
            <h1>
                <%= buch.name %>
            </h1>
        </section>
        <main>
            <% if(typeof action !== "undefined" && action == "added") { %>
            <div class="response success" style="margin-bottom:30px;">Ihre Reservierung wurde erfolgreich hinzugefügt.</div>
            <% } %>
            <section class="buch-details">
                <div class="grid-container">
                    <div class="left-side">
                        <img src="/img/comingsoon.png" alt=" " class="photo">
                        <p class="autor-name">Autor</p>
                        <p class="fachrichtung">Fachrichtung</p>
                        <p class="jahr">Jahr</p>
                        <p class="ISBN">ISBN</p>
                    </div>
                    <div class="right-side">
                        <p class="beschreibung">
                            <%= buch.beschreibung %>
                        </p>
                        <p class="autor-name-answer">
                            <%= buch.autor.name %>
                        </p>
                        <p class="fachrichtung-answer">
                            <%= buch.fachrichtung %>
                        </p>
                        <p class="jahr-answer">
                            <%= buch.jahr %>
                        </p>
                        <p class="ISBN-answer">
                            <%= buch.isbn %>
                        </p>
                    </div>
                </div>
                <a href="/reservierungen/neu?id=<%= id %>"><button class="button primary filled">Buch reservieren</button></a>
            </section>
        </main>
        <%- include("parts/aside") %>
    </div>

    <%- include("parts/footer") %>