<%- include("parts/header", {current: "standorte"}) %>

<div id="content">
    <section class="headline">
        <h1>Standorte</h1>
    </section>
    <main>
        <% if(typeof action !== "undefined" && action == "added") { %>
            <div class="response success" style="margin-bottom:30px;">Der Standort wurde erfolgreich hinzugefügt.</div>
        <% } %>
        <section class="locations-overview">
            <% standorte.forEach(function(standort, index) { %>
                <div class="location">
                    <div class="inner">
                        <a href="standorte/detail?id=<%= index %>" class="location__image">
                            <img src="http://www.placehold.it/800x400" alt="Standort <%= standort.name %>">
                        </a>
                        <div class="location__info">
                            <div class="title"><%= standort.name %></div>
                            <address>
                            <%= standort.adresse %><br />
                            <%= standort.plz %> <%= standort.ort %>
                        </address>
                        </div>
                        <a href="standorte/detail?id=<%= index %>" class="location__link">
                        Zum Standort <i class="ti-arrow-right"></i>
                    </a>
                    </div>
                </div>
            <% }); %>
        </section>
        <section class="add">
            <a href="standorte/neu" class="button primary filled">Neuen Standort hinzufügen</a>
        </section>
    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>